<!--顧客側会員ページ-->

<div class='container my-5'>

  <div class='row mb-3'>
    <div class='col-md-3 offset-md-1'>

      <h4 class='bg-dark text-white text-center'>マイページ</h4>

    </div>
  </div>

  <div class='row'>
    <div class='col-md-6 offset-md-1'>

      <h5><strong>
        登録情報
        <%= link_to '編集する', edit_customers_path, class: 'btn btn-success' %>
      </strong></h5>

      <table class='table table-bordered'>
        <tbody>

          <!--氏名-->
          <tr>
            <th>氏名</th>
            <td>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>

          <!--フリガナ-->
          <tr>
            <th>カナ</th>
            <td>
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>

          <!--郵便番号-->
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>

          <!--住所-->
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>

          <!--電話番号-->
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>

          <!--メールアドレス-->
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>

        </tbody>
      </table>

      <!--配送先-->
      <div>
        <h5><strong>
          配送先
          <%= link_to '一覧を見る', my_page_path, class: 'btn btn-primary' %>　<!--リンク後で変更します-->
        </strong></h5>
      </div>

      <!--注文履歴-->
      <div>
        <h5><strong>
          注文履歴
          <%= link_to '一覧を見る', my_page_path, class: 'btn btn-primary' %>　<!--リンク後で変更します-->
        </strong></h5>
      </div>

    </div>
  </div>

</div>