<div class="row">
　<div class="col-xs-12">

　  <h1>配送先編集</h1>
　  <%= form_with model: @shipping,url:"/shippings/#{@shipping.id}", local:true do |f| %>
　      <div class = "form-group">
　      <h4>郵便番号(ハイフンなし) </h4>
　      <%= f.text_field :postal_code %>
　      </div>
　      <div class = "form-group">
　      <h4>住所</h4>
　      <%= f.text_field :address%>
　      </div>
　      <div class = "form-group">
　      <h4>宛名</h4>
　      <%= f.text_field :name%>
　      </div>
　      <div class = "form-group">
　      <%= f.submit '変更内容を保存'%>
　      </div>
　   <% end %>


