<div class = "container">
  <div class="row">
    <div class = "offset-md-2 col-md-4">
      <h1>配送先登録/一覧</h1>
    </div>
  </div>

  <div class="row">
    <div class = "offset-md-1 col-md-9">
      <%= form_with model: @shipping, url:'/shippings', local:true do |f| %>

      <div class="row">
        <div class = "col-md-3">
          <h4>郵便番号(ハイフンなし)</h4>
        </div>
          <%= f.text_field :postal_code,class: "col-md-4" %>
      </div>

      <div class="row">
        <div class = "col-md-3">
          <h4>住所</h4>
        </div>
        <%= f.text_field :address,class: "col-md-6"%>
      </div>

      <div class="row">
        <div class = "col-md-3">
          <h4>宛名</h4>
        </div>
        <%= f.text_field :name,class: "col-md-4"  %>
        <%= f.submit '新規登録',class: "col-md-2 btn-lg btn-success"  %>
      </div>


      <% end %>
      </div>
    </div>


    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>郵便番号</th>
                <td>住所</td>
                <td>宛名</td>
                <td></td>
            </tr>
            <% @shippings.each do |shipping| %>
              <tr>
                <th><%= shipping.postal_code %></th>
                <td><%= shipping.address%></td>
                <td><%= shipping.name%></td>
                <td>
                    <%= link_to "編集する", edit_shipping_path(shipping.id),class:"btn btn-sm btn-success edit_book_36722" %>
                    <%= link_to "削除する", shipping_path(shipping.id),class:"btn btn-sm btn-danger destroy_book_36722",method: :delete,"data-confirm" => "本当に削除しますか？"  %>
                </td>
              </tr>
            <% end %>
        </table>
     </div>
  </div>
