<!--配送先-->

<div class='container my-5'>

  <div class='row mb-3'>
    <div class='col-md-3 offset-md-1'>

      <h4 class='bg-dark text-white text-center p-3'>配送先登録/一覧</h4>

    </div>
  </div>

  <div class='row'>
    <div class = 'offset-md-1 col-md-9'>
      <%= form_with model: @shipping, url:'/shippings', local:true do |f| %>

      <div class='row'style='padding-bottom:10px;'>
        <div class = 'col-md-3'>
          <%= f.label :postal_code,'郵便番号(ハイフンなし)' %>
        </div>
          <%= f.text_field :postal_code,class: 'col-md-4' %>
      </div>
      <div class='row'style='padding-bottom:10px;'>
        <div class = 'col-md-3'>
          <%= f.label :address,'住所' %>
        </div>
        <%= f.text_field :address,class: 'col-md-6'%>
      </div>

      <div class='row'style='padding-bottom:10px;'>
        <div class = 'col-md-3'>
          <%= f.label :name,'宛名' %>
        </div>
          <%= f.text_field :name,class: 'col-md-4' %>
          <%= f.submit '新規登録',class: 'col-md-2 btn-lg btn-success ml-3'  %>
        </div>
      </div>
        <% end %>
      </div>
    </div>


    <div class='row'>
      <div class='col-md-10 offset-md-1'>
        <table class='table table-hover border-bottom'>

          <thead class='thead-dark'>
            <tr>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th></th>
                <th></th>
            </tr>
          </thead>

            <% @shippings.each do |shipping| %>
            <tbody>
              <tr>
                <td><%= shipping.postal_code %></td>
                <td><%= shipping.address%></td>
                <td><%= shipping.name%></td>
                <td class='text-center'>
                  <%= link_to '編集する', edit_shipping_path(shipping.id), class:'btn btn-success' %>
                </td>
                <td class='text-center'>
                  <%= link_to '削除する', shipping_path(shipping.id), class:'btn btn-danger', method: :delete,'data-confirm' => '本当に削除しますか？'  %>
                </td>
              </tr>
            </tbody>
            <% end %>

        </table>
      </div>
     </div>

  </div>
