<div class="container my-5">
  <div class="row mb-3">
    <div class="col-md-3 offset-md-1">
      <h4 class="bg-light text-center">商品一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="order-list">
        <table class="table table-hover border-bottom">
          <thead>
            <tr>
              <th>商品画像</th>
              <th>商品名</th>
              <th>税込価格(税抜価格)</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td id="img_field">
                  <%= attachment_image_tag(product, :image, size: "300x220", fallback: "no_image.jpg") %>
                </td>
                <td>
                  <%= link_to product_path(product), class: "btn-link" do %>
                    <%= product.name %>
                  <% end %>
                </td>
                <td><%= (product.price.to_i*1.1).round %>（<%= product.price%>）円</td>
                <td><%= product.genre.name %></td>
                <td>
                  <% if product.is_active == true %>
                    <i class="fas fa-bullseye red"></i>販売中
                  <% elsif product.is_active == false %>
                    <i class="fas fa-bullseye blue"></i>売り切れ
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

