<h2 class="head-line title_h2 text-center">商品詳細</h2>
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <div id="img_field">
          <%= attachment_image_tag(@product, :image, size: "300x220", fallback: "no_image.jpg") %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field">
          <p>
            商品名:<%= @product.name %>
          </p>
        </div>
        <div class="field">
          <p>
            商品説明:<%= @product.introduction %>
          </p>
        </div>
        <div class="field">
          <p>
            ジャンル:<%= @product.genre.name %>
          </p>
        </div>
        <div class="field">
          <p>
            税込価格（税抜価格）:<%= (@product.price.to_i*1.1).round %>（<%= @product.price %>）円
          </p>
        </div>
        <div class="field">
          <% if @product.is_active == true %>
            <%= form_for(@cart_item , url: cart_items_path, method: :post) do |f| %>
		          <%= f.hidden_field :product_id, :value => @product.id %>
		          <%= f.submit "カートに入れる", class: 'btn btn-primary col-xs-5' %>
		          <%= f.select :amount, [*1..100] %>
	          <% end %>
	        <% else @product.is_active == false %>
            <h3>売り切れ中</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>