<h2 class="head-line title_h2 text-center">商品詳細</h2>
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <div id="img_field">
          <%= attachment_image_tag(@product, :image, size: "300x220", fallback: "no_image.jpg") %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field">
          <p>
            商品名:<%= @product.name %>
          </p>
        </div>
        <div class="field">
          <p>
            商品説明:<%= @product.introduction %>
          </p>
        </div>
        <div class="field">
          <p>
            ジャンル:<%= @product.genre.name %>
          </p>
        </div>
        <div class="field">
          <p>
            税込価格（税抜価格）:<%= (@product.price.to_i*1.1).round %>（<%= @product.price%>）円
          </p>
        </div>
        <div class="field">
          <p>
            販売ステータス
            <% if @product.is_active == true %>
              <i class="fas fa-bullseye red"></i>販売中
            <% elsif @product.is_active == false %>
              <i class="fas fa-bullseye blue"></i>販売停止中
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>