<!--TOPページ-->

<div class='container box'>
  <div class='row'>
    <div class='col align-self-center'>

　　　<h2 class='text-center text-white'>ようこそ、ながのCAKEへ！</h2>
      <p class='text-center text-white'
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。<br>
      </p>

      <!--サンプルで画像入れました-->
      <div class='text-center'>
        <%= image_tag 'cake1.jpg', width: '50%', height: '50%' %>
      </div>

    </div>
  </div>
</div>


<!--新着商品-->
<div class='container my-5'>

  <div class='mb-3'>
      <h3 class='text-center'>新着商品</h3>
  </div>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3">
          <div class="card shadow">
            <%= link_to product_path(product), class: "no-underline", 'data-turbolinks': false do %>
              <%= attachment_image_tag(product, :image, width: '100%', height: '100%', fallback: 'no_image.jpg') %>
              <div class="card-body">
                <h6 class="card-title">
                  <%= product.name %>
                </h6>
                <p class="card-text">
                  ¥<%= product.price %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div style='text-align: right;'>
    <u>
      <%= link_to '全ての商品を見る >', products_path %>
    </u>
  </div>

</div>
