<!--管理者側会員ページ-->

<div class='container my-5'>

  <div class='row mb-3'>
    <div class='col-md-3 offset-md-1'>

      <h4 class='bg-dark text-white text-center'>会員一覧</h4>

    </div>
  </div>

  <div class='row'>
    <div class='col-md-10 offset-md-1'>

    <table class='table table-hover'>
      <thead class='thead-dark'>
        <tr>
          <th class='text-center'>会員ID</th>
          <th class='text-center'>氏名</th>
          <th class='text-center'>メールアドレス</th>
          <th class='text-center'>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <!--会員ID-->
          <td class='text-center'><%= customer.id %></td>

          <!--氏名(showへのリンク)-->
          <td class='text-center'>
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.last_name %>
              <%= customer.first_name %>
            <% end %>
          </td>

          <!--メールアドレス-->
          <td class='text-center'><%= customer.email %></td>

          <!--ステータス-->
          <% if customer.is_active?%>
            <td class='text-success text-center'>有効</td>
      　　<% else %>
      　　    <td class='text-secondary text-center'>退会</td>
      　　<% end %>
      　　</tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>

</div>