<!--管理者側会員ページ-->

<div class="container">
  <div class="row">
    <h4>
      <strong><%= @customer.last_name %><%= @customer.first_name %></strong>
      さんの会員詳細
    </h4>
  </div>

  <div class="row">
    <div class="col-6 offset-1">

      <table class="table table-borderless">
        <tbody>

          <!--会員ID-->
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>

          <!--氏名-->
          <tr>
            <th>氏名</th>
            <td>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>

          <!--フリガナ-->
          <tr>
            <th>フリガナ</th>
            <td>
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>

          <!--郵便番号-->
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>

          <!--住所-->
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>

          <!--電話番号-->
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>

          <!--メールアドレス-->
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>

          <!--ステータス-->
          <tr>
            <th>会員ステータス</th>
            <% if @customer.is_active? %>
             <td class="text-success">有効</td>
            <% else %>
             <td class="text-secondary">退会</td>
            <% end %>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

  <!--ボタン-->
  <div class="row">
    <div class="col-2 offset-3">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    </div>

    <div class="col-3">
      <%= link_to "注文履歴一覧を見る", admin_customer_path(@customer.id), class: "btn btn-primary" %>　<!--リンク後で変更します-->
    </div>
  </div>

</div>
